.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.dashboard-title {
  font-size: 2rem;
  margin-bottom: 130px;
  color: #333;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.dashboard-block {
  height: 200px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-block:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.cc{
  margin-top: 100px;
}